<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InserirPerfil</servlet-name>
        <servlet-class>controle.InserirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controle.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controle.ExcluirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirFuncionario</servlet-name>
        <servlet-class>controle.InserirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionario</servlet-name>
        <servlet-class>controle.AlterarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <servlet-class>controle.ExcluirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirMenu</servlet-name>
        <servlet-class>controle.InserirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controle.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controle.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controle.GerenciarMenuPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaLogin</servlet-name>
        <servlet-class>controle.ValidaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCurso</servlet-name>
        <servlet-class>controle.InserirCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCurso</servlet-name>
        <servlet-class>controle.AlterarCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCurso</servlet-name>
        <servlet-class>controle.ExcluirCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirTurma</servlet-name>
        <servlet-class>controle.InserirTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirAluno</servlet-name>
        <servlet-class>controle.InserirAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarAluno</servlet-name>
        <servlet-class>controle.AlterarAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAluno</servlet-name>
        <servlet-class>controle.ExcluirAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarTurma</servlet-name>
        <servlet-class>controle.AlterarTurma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMatricularAluno</servlet-name>
        <servlet-class>controle.GerenciarMatricularAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirEtiqueta</servlet-name>
        <servlet-class>controle.InserirEtiqueta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarEtiqueta</servlet-name>
        <servlet-class>controle.AlterarEtiqueta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEtiqueta</servlet-name>
        <servlet-class>controle.ExcluirEtiqueta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InserirPerfil</servlet-name>
        <url-pattern>/inserir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/excluir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirFuncionario</servlet-name>
        <url-pattern>/inserir_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionario</servlet-name>
        <url-pattern>/alterar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <url-pattern>/excluir_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirMenu</servlet-name>
        <url-pattern>/inserir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/gerenciar_menu_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaLogin</servlet-name>
        <url-pattern>/valida_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCurso</servlet-name>
        <url-pattern>/inserir_curso.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCurso</servlet-name>
        <url-pattern>/alterar_curso.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCurso</servlet-name>
        <url-pattern>/excluir_curso.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirTurma</servlet-name>
        <url-pattern>/inserir_turma.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirAluno</servlet-name>
        <url-pattern>/inserir_aluno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarAluno</servlet-name>
        <url-pattern>/alterar_aluno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAluno</servlet-name>
        <url-pattern>/excluir_aluno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarTurma</servlet-name>
        <url-pattern>/alterar_turma.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMatricularAluno</servlet-name>
        <url-pattern>/gerenciar_matricular_aluno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirEtiqueta</servlet-name>
        <url-pattern>/inserir_etiqueta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarEtiqueta</servlet-name>
        <url-pattern>/alterar_etiqueta.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirEtiqueta</servlet-name>
        <url-pattern>/excluir_etiqueta.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
